* {
  font-family: "Trispace", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(248, 248, 248);
  color: rgb(57, 57, 57);
  display: grid;
  justify-content: center;
}
canvas {
  box-shadow: #67d2fd 0px 0px 0px 2px, rgb(196, 255, 107) 0px 0px 0px 3px,
    #fffc5f 0px 0px 0px 4px, #ffba60 0px 0px 0px 5px, #ff4747 0px 0px 0px 6px;
  display: block;
}
.topbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2em;
  padding: 1em 0;
}
.command-palette {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 0.4em;
}
.cmd {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0.2em;
  width: 26px;
}
.cmd:hover {
  opacity: 50%;
}
.cmd img {
  height: 18px;
  width: auto;
}
.brushSize {
  min-width: 140px;
}
.brushSize label {
  font-size: 0.9em;
  text-align: end;
}
.brushSize input {
  background-color: #9ee4ff;
  border-radius: 24px;
  border: 4px solid #9ee4ff;
  color: rgb(57, 57, 57);
  padding: 0 0.2em;
}
.colorPalette {
  padding: 0 0.4em;
}
.color {
  border-radius: 16px;
  border: 1px solid #e4e2db;
  height: 18px;
  width: 18px;
}
.color:hover {
  border: 1px solid black;
}

@media only screen and (max-width: 650px) {
  body {
    padding: 0.4em 1em;
  }
  .topbar {
    padding: 0.4em 0 1em 0;
  }
  .brushSize {
    margin-left: auto;
  }
  canvas {
    width: 95vw !important;
  }
}
@media only screen and (max-width: 500px) {
  body {
    padding: 0.4em 1em;
  }
}
